
:root {
    --dark-blue: #363f5f;
    --link-all: #800000;
    --link-hover: #dd7878;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
}

ul { list-style: none; }

a {
    text-decoration: none;
    color: var(--link-all);
}
a:hover {
    color: var(--link-all);
}

.container {
    width: 90%;
    max-width: 968px;
    margin: 0 auto;
}

/* HEADER */
header {
    width: 100vw;
    height: 4.5rem;
    padding: .5rem 0;
}

header .navbar {
    width: 90%;
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 50px;
}

header nav {
    display: block;
    background-color: turquoise;
    margin: auto 0;
}

main section {
    margin: 2rem 0 5rem;
}

main section h2 {
    font-size: 2rem;
    margin: 1.5rem 0 .5rem;
}

main section li {
    margin: .5rem 0;
}


main .list-recents {
    display: flex;
}

main .list-recents img {
    width: 5rem;
    height: 5rem;
    margin-right: .5rem;
    border-radius: 50%;
    object-fit: cover;
}

main .list-recents h4 {
    font-size: 1.6rem;
    margin: auto 0;
}

main .list-recents span {
    display: block;
    color: gray;
    font-size: 1.4rem;
}