
:root {
    --dark-blue: #363f5f;
    --link-all: #800000;
    --link-hover: #dd7878;
    --bg-acai: #520052;
}
* { box-sizing: border-box;margin: 0;padding: 0;outline: 0;}
html {
    font-size: 62.5%;height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-size: 1.6rem;padding-top: 3.3em;
    background-color: #CECECE;
}
ul { list-style: none; }

.container {
    width: 98%;
    max-width: 968px;
    margin: 0 auto;
}
.d-flex { display: flex; }

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3em;
    color: #FFF;
    background-color:var(--bg-acai);
    padding-top: .5rem;
}
header img { height: 40px;margin-right: 1rem; }

main {}

#list {
    background-color: #FFF;
    height: 100vh;
    padding: 1rem;
}


#list h2 {
    padding: .5rem 0 .5rem .5rem;
    margin-bottom: .8rem;
    font-size: 2rem;
    border-bottom: 1px solid #000;
    background: rgba(24,24,24,.2);
}

#list div {
    padding: .5rem;
    margin-bottom: .5rem;
    font-weight: bold;
    border-radius: .5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#list div:hover {
    background-color: red;
}

#list div a {
    text-decoration: none;
    color: inherit;
}
#list div a:hover {
    color: var(--bg-acai);
}

#list div p:last-child {
    font-size: 1.4rem;
    font-weight: initial;
}








#display { display: none; }



/*  Media Queries */
@media (max-width:576px)
{
    html {
        font-size: 60%;
        background-color:rgb(230, 230, 230);
    }

    .one,
    .two,
    .twob,
    .three {
        background-color: rgb(255, 255, 255);
        height: 5px;
        width: 100%;
        margin: 5px auto;
        transition-duration: -3s;
    }
    .menu-toggle {
        width: 3.4rem;
        height: auto;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    header .menu-toggle {
        margin-left: auto;
    }
    header .menu-section nav {
        display: none;
    }

    .menu-section.on {
        position: absolute;
        background-color:rgba(234, 204, 248, 0.9);

        width: 100vw;
        height: 100vh;

        top: 3em;
        left: 0;

        /* z-index: 10; */

        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on nav ul li a {
        cursor: pointer;
        display: block;
        color: white;
        background-color: rgb(138, 23, 67);
        width: 50%;
        margin: 1rem 0;
        padding: 1rem 2rem;
    }

    /* Modificar menu hamburg em X */
    .menu-section.on .menu-toggle .one {
        padding: 0;
        margin: 0;
        transform: rotate(-45deg) translate(-11px, 11px);
    }
    .menu-section.on .menu-toggle .two {
        padding: 0;
        margin: 0;
        opacity: 0;
    }
    .menu-section.on .menu-toggle .three {
        transform: rotate(45deg) translate(4px, 4px);
        padding: 0;
        margin: 0;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -4rem;
        right: 1rem;
    }

}

/* main section {
    margin: .5rem 0;
    display: none;
} */

.list {display: none;}

.card {
    width: 100vw;
    height: auto;
    text-align: initial;
    box-shadow: 60px -16px teal;
}
.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.card .card-header {
    display: block;
    height: 20px;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
.card .card-header span {
    color:lawngreen;
    background-color: lightcoral;
}

.card .card-content {
    width: 98%;
    padding: 1rem;
}

.card .content-title {
    margin-bottom: 1.5rem;
}
.card .card-content h2 {
    display: block;
    font-weight: bold;
}
.card .card-content h4 {
    display: block;
    font-weight: 900;
}
.card .card-content p {
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.card .card-content h4 span {
    background-color: lawngreen;
    padding: 2px 5px;
    margin-left: .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
}




















/* 


main section h2 {
    font-size: 2rem;
    padding:.5rem 1rem 0;
    text-align: right;
    border-bottom: 1px solid #B0B300;

}

main section li {
    margin: .5rem 0;
}

main section.more-recents,
main section.artists-recents {
    min-height: 40vh;
    background-color:white;
} */

/* main .list-recents {
    display: flex;
}

main .list-recents img {
    width: 5rem;
    height: 5rem;
    margin-right: .5rem;
    border-radius: 50%;
    object-fit: cover;
}

main .list-recents h4 {
    font-size: 1.6rem;
    margin: auto 0;
}

main .list-recents span {
    display: block;
    color: gray;
    font-size: 1.4rem;
} */

